@charset "UTF-8";
/*
BY OLEXANDR DUHOVNUY. - http://vk.com/thoroughgoing1
██████████████████████████████████████████████████████████████████████
██                                                         ▒██████████
██░░░▒░▒▒▒   ▒░░░░░░▒   ░░░░░░░░░░░░░▒     ▒▒▒▒▒▒▒▒▒░▒▒▒░▒░▓██████████
██████████▒ ▒████████  ▓██████████████    ▓███████████████████████████
██████████▒ ░████████  ▓██████████████    ▓███████████████████████████
██████████▒ ░████████  ▓██████████████    ▓███▓ ░░░░░░░░░░░▓██████████
██████████▒ ░████████                     ▓███▒            ▓██████████
██████████▒ ░████████     deg ░▒▒▒▒░░░▒▒  ▓██████████████  ▓██████████
██████████▒ ░████████  ▓█▓░    ▒▓███████░ ▓██████████████░ ▒█████▓░░░█
██████████▒ ░████████  ▓██████▒     ▒▓██  ░▒░░░░░░░░░░░░▒  ▓█████▒   █
██████████████████████████████████████████████████████████████████████
*/
/* ==========================================================
   _reset
   ========================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

:focus {
  outline: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input, textarea {
  box-sizing: border-box;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  text-decoration: none;
}

/* ==========================================================
   _fonts
   ========================================================== */
@font-face {
  font-family: 'ProximaNova';
  src: url("../webfonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../webfonts/ProximaNova-Regular.otf") format("opentype"), url("../webfonts/ProximaNova-Regular.woff") format("woff"), url("../webfonts/ProximaNova-Regular.ttf") format("truetype"), url("../webfonts/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url("../webfonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../webfonts/ProximaNova-Semibold.otf") format("opentype"), url("../webfonts/ProximaNova-Semibold.woff") format("woff"), url("../webfonts/ProximaNova-Semibold.ttf") format("truetype"), url("../webfonts/ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url("../webfonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../webfonts/ProximaNova-Bold.otf") format("opentype"), url("../webfonts/ProximaNova-Bold.woff") format("woff"), url("../webfonts/ProximaNova-Bold.ttf") format("truetype"), url("../webfonts/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
/* ==========================================================
   _container _body
   ========================================================== */
body, html {
  font: 16px ProximaNova,Helvetica, Helvetica Neue, Arial;
  cursor: default;
  font-weight: 400;
  color: #001729;
  overflow-x: hidden;
}

.container {
  max-width: 1110px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
}

/* ==========================================================
   _variables
   ========================================================== */
/* ==========================================================
   _global
   ========================================================== */
.h1 {
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
}

.h2 {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

.h3 {
  font-size: 1.38em;
  font-weight: 700;
  text-transform: uppercase;
}
.h3_hr {
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.h3_hr span {
  position: relative;
}
.h3_hr span:before {
  content: '';
  position: absolute;
  bottom: -16px;
  height: 2px;
  background-color: #ff9c00;
  width: 100%;
  left: 0;
}

.h4 {
  font-size: 1.13em;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-size: 1.13em;
  line-height: 1.33;
}
p b {
  font-weight: 600;
}

.btn {
  color: #ffffff;
  font-size: 1.25em;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ff9c00;
  padding: 25px 40px 25px 60px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  z-index: 0;
  border: none;
  text-align: center;
}
.btn_small {
  color: #ffffff;
  font-size: 1em;
  height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ff9c00;
  padding: 7px 52px 5px 50px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  z-index: 0;
  border: none;
}
.btn_small span {
  display: inline-block;
  transition: 0.275s;
}
.btn_small:before {
  content: '';
  height: 70px;
  width: 70px;
  transform: rotate(45deg);
  background-color: #ea930b;
  position: absolute;
  left: 0;
  margin-left: -84px;
  margin-top: -35px;
  top: 50%;
  z-index: -1;
  transition: 0.55s;
}
.btn_small:hover {
  background-color: #ffae2e;
}
.btn_small:hover:before {
  margin-left: -40px;
}
.btn_small:hover span {
  transform: translateX(15px);
}
.btn span {
  transition: 0.275s;
  display: inline-block;
}
.btn:before {
  content: '';
  height: 150px;
  width: 150px;
  transform: rotate(45deg);
  background-color: #ea930b;
  position: absolute;
  left: -133px;
  top: 50%;
  margin-top: -75px;
  z-index: -1;
  transition: 0.55s;
}
.btn:hover {
  background-color: #ffae2e;
}
.btn:hover:before {
  left: 95%;
}
.btn:hover span {
  transform: translateX(-20px);
}

hr {
  border: none;
  height: 1px;
  width: 100%;
  display: block;
  border-bottom: 1px solid #e5e5e5;
  margin: 10px 0;
}

.input {
  height: 50px;
  border: 1px solid #e5e5e5;
  padding-left: 20px;
  font-size: 1em;
  text-transform: uppercase;
  color: #001729;
}
.input[name="phone"] {
  padding-left: 50px;
  background: url("../images/ico/phone.svg") no-repeat center left 20px;
}
.input[name="name"] {
  padding-left: 50px;
  background: url("../images/ico/name.svg") no-repeat center left 20px;
}
.input[name="mail"] {
  padding-left: 50px;
  background: url("../images/ico/mail.svg") no-repeat center left 20px;
}
.input:focus {
  border-color: #ff9c00;
}
.input._error {
  border-color: red;
}

.textarea {
  min-height: 50px;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding-left: 50px;
  background: url("../images/ico/pop.svg") no-repeat top 13px left 20px;
  padding-top: 13px;
  margin-bottom: 10px;
  font-size: 1em;
  text-transform: uppercase;
  color: #001729;
}
.textarea:focus {
  border-color: #ff9c00;
}
.textarea._error {
  border-color: red;
}

.text > :last-child {
  margin-bottom: 0;
}
.text h1 {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.text h2 {
  font-size: 1.38em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 10px;
}
.text h3 {
  font-size: 1.13em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 10px;
}
.text h4 {
  font-size: 0.95em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 10px;
}
.text hr {
  margin-bottom: 40px;
}
.text p {
  margin-bottom: 35px;
}
.text b {
  font-weight: 600;
}
.text a:not(.btn) {
  font-size: 1.13em;
  line-height: 1.33;
  color: #ff9c00;
}
.text a:not(.btn) span {
  border-bottom: 1px solid #ff9c00;
  transition: border 0.55s;
}
.text a:not(.btn):hover {
  color: #001729;
}
.text a:not(.btn):hover span {
  border-color: #001729;
}
.text > a {
  display: block;
  margin-bottom: 15px;
}
.text img {
  max-width: 100%;
  border: 1px solid #e5e5e5;
}
.text > img {
  margin-bottom: 30px;
}
.text figure {
  margin-bottom: 35px;
}
.text figure figcaption {
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
  text-transform: uppercase;
}
.text figure figcaption span {
  color: #ff9c00;
  font-weight: 600;
}
.text ul, .text ol {
  margin-bottom: 35px;
}
.text ul li, .text ol li {
  font-size: 1.13em;
  line-height: 1.33;
  margin-left: 45px;
  position: relative;
}
.text ul li:not(:last-of-type), .text ol li:not(:last-of-type) {
  margin-bottom: 17px;
}
.text ul li:before, .text ol li:before {
  content: '';
  position: absolute;
  left: -17px;
  width: 6px;
  height: 6px;
  background-color: #ff9c00;
  top: .48em;
}
.text ul li b, .text ol li b {
  font-weight: 700;
  color: #ff9c00;
}
.text > small {
  font-size: 1em;
  margin-bottom: 35px;
}
.text ol li {
  counter-increment: li;
}
.text ol li:before {
  background: none;
  content: counter(li);
  font-size: 1.13rem;
  font-weight: 700;
  top: 0;
  left: -18px;
  color: #ff9c00;
}
.text iframe {
  width: 100%;
  height: 30vw;
  margin-bottom: 40px;
}
.text__table_wrp {
  margin-bottom: 35px;
}
.text .btn {
  margin-bottom: 30px;
}
.text table {
  width: 100%;
}
.text table th {
  font-weight: 600;
  font-size: 0.88em;
  text-transform: uppercase;
  padding: 15px 20px;
  background-color: #fff4e9;
  border: 1px solid #e5e5e5;
}
.text table td {
  font-size: 1.13em;
  font-weight: 700;
  line-height: 1.33;
  text-align: center;
  padding: 10px;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
}
.text__cols50 {
  margin-bottom: 50px;
}
.text__cols50_col {
  max-width: calc(50% - 25px);
}

/* ==========================================================
   _header _footer
   ========================================================== */
.header {
  position: relative;
}
.header__top {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
}
.header__top_link {
  color: #001729;
}
.header__top_link:first-of-type {
  margin-right: 70px;
}
.header__top a span {
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  padding-left: 4px;
}
.header__top a:hover path {
  fill: #ff9c00;
}
.header__top a:hover span {
  border-color: #ff9c00;
}
.header__top svg {
  margin-right: 8px;
  margin-top: -4px;
}
.header__top_phone {
  margin-left: auto;
  margin-right: 30px;
  color: #001729;
}
.header__top_call {
  font-size: 0.88em;
  text-transform: uppercase;
  color: #ff9c00;
  white-space: nowrap;
  border-bottom: 1px dashed #ff9c00;
  cursor: pointer;
  font-weight: 600;
  transition: 0.275s;
}
.header__top_call:hover {
  color: #001729;
  border-color: transparent;
}
.header__bot {
  padding: 14px 0;
}
.header__bot_wrap a {
  color: #08112c;
  font-size: 1em;
  text-transform: uppercase;
}
.header__bot_logo {
  margin-right: 50px;
  padding: 7px;
  margin-left: -7px;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
}
.header__bot_logo:hover {
  border-color: #ff9c00;
}
.header__bot_btnmenu, .header__bot_btn {
  border: 2px solid #ff9c00;
  padding: 14px 21px 13px;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}
.header__bot_btnmenu:before, .header__bot_btn:before {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: -250px;
  margin-top: -100px;
  background-color: #ff9c00;
  transform: rotate(45deg);
  z-index: -1;
  transition: 0.55s;
}
.header__bot_btnmenu:hover:before, .header__bot_btn:hover:before {
  left: 113%;
}
.header__bot_btnmenu:hover span,
.header__bot_btnmenu:hover svg, .header__bot_btn:hover span,
.header__bot_btn:hover svg {
  transform: translateX(-7px);
}
.header__bot_btnmenu._active, .header__bot_btn._active {
  background-color: #ff9c00;
  color: #fff;
}
.header__bot_btnmenu._active > svg, .header__bot_btn._active > svg {
  opacity: 0;
}
.header__bot_btnmenu._active .header__bot_btnactive, .header__bot_btn._active .header__bot_btnactive {
  opacity: 1;
}
.header__bot_btnmenu._active:hover, .header__bot_btn._active:hover {
  background-color: #ffae2e;
}
.header__bot_btnmenu._active:hover span,
.header__bot_btnmenu._active:hover svg, .header__bot_btn._active:hover span,
.header__bot_btn._active:hover svg {
  transform: none;
}
.header__bot_btnmenuactive, .header__bot_btnactive {
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -10px;
  transition: 0.55s;
  opacity: 0;
}
.header__bot_btnmenu svg, .header__bot_btn svg {
  margin-right: 15px;
  margin-top: -1px;
  transition: 0.275s;
}
.header__bot_btnmenu span, .header__bot_btn span {
  transition: 0.275s;
}
.header__bot nav a {
  padding-right: 5px;
  padding-bottom: 1px;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.header__bot nav a._current {
  font-weight: 700;
}
.header__bot nav a:last-of-type {
  margin-right: -5px;
}
.header__bot nav a:not(:last-of-type) {
  margin-right: 60px;
}
.header__bot nav a:hover {
  border-color: #ff9c00;
}
.header__pop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 5;
  visibility: hidden;
  pointer-events: none;
}
.header__pop.active {
  visibility: visible;
  pointer-events: all;
}
.header__pop.active .header__pop_wrap {
  opacity: 1;
}
.header__pop_wrap {
  transition: 0.825s;
  opacity: 0;
}
.header__pop_close {
  font-size: 3.3em;
  line-height: .7;
  color: #e5e5e5;
  font-family: fix;
  font-weight: 100;
  margin-right: 58px;
  cursor: pointer;
}
.header__pop_close:hover {
  color: red;
}
.header__pop .input {
  flex-grow: 2;
  margin-right: 30px;
}
.header__menu {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #ff9c00;
  box-shadow: 0 3px 15px -2px rgba(0, 23, 41, 0.1);
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 5;
  background-color: #fff;
  padding: 5px 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
}
.header__menu._active {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}
.header__menu._active .header__menu_row {
  opacity: 1;
}
.header__menu_row {
  padding: 30px 0 40px;
  transition: 0.825s;
  opacity: 0;
}
.header__menu_col {
  width: 33%;
}
.header__menu_col:not(:last-of-type) {
  margin-right: 35px;
  padding-right: 35px;
  border-right: 1px solid #e5e5e5;
}
.header__menu_col i {
  min-height: 30px;
  display: block;
  margin-bottom: 10px;
}
.header__menu_col i:nth-of-type(2) {
  padding-top: 10px;
}
.header__menu_col h4 {
  font-size: 0.9em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.header__menu_col h4:hover a {
  border-color: #ff9c00;
  color: #001729;
}
.header__menu_col h4 a {
  color: #ff9c00;
  border-bottom: 2px solid transparent;
  transition: border 0.36667s;
}
.header__menu_links a {
  display: block;
  font-size: 1em;
  text-decoration: none;
  color: #001729;
}
.header__menu_links a span {
  border-bottom: 1px solid transparent;
  transition: 0.36667s;
}
.header__menu_links a span:hover {
  border-color: #001729;
}
.header__menu_links a:not(:last-of-type) {
  margin-bottom: 14px;
}
.header__menu_links > div:not(:last-of-type) {
  margin-right: 35px;
}

.footer__top {
  background-color: #fff4e9;
}
.footer__top_col {
  padding: 35px 25px;
  max-width: 240px;
  width: 100%;
  border-right: 2px solid  #fff;
  transition: border 1.1s;
}
.footer__top_col:hover {
  border-color: #ff9c00;
}
.footer__top_col:first-of-type {
  padding-left: 0;
}
.footer__top_col2x {
  padding: 35px 25px;
  flex-grow: 2;
  border-right: 2px solid  #fff;
  transition: border 1.1s;
}
.footer__top_col2x:hover {
  border-color: #ff9c00;
}
.footer__top_col2x .footer__top_linkswrap > div {
  max-width: 250px;
}
.footer__top_links a {
  display: block;
  color: #000;
  font-size: 0.88em;
  line-height: 1.4;
  text-transform: uppercase;
}
.footer__top_links a:not(:last-of-type) {
  margin-bottom: 25px;
}
.footer__top_links a span {
  transition: 0.36667s;
  border-bottom: 1px solid transparent;
}
.footer__top_links a span:hover {
  border-color: #001729;
}
.footer__top_logo {
  margin-bottom: 15px;
  display: inline-block;
  padding: 7px;
  margin-left: -7px;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
}
.footer__top_logo:hover {
  border-color: #ff9c00;
}
.footer__top h6 {
  font-size: 0.81em;
  color: #cea57b;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.footer__top_dev:hover path {
  fill: #001729;
}
.footer__top_dev:hover span {
  color: #ff9c00;
}
.footer__top_dev:hover span small {
  color: #001729;
}
.footer__top_dev svg {
  margin-right: 10px;
}
.footer__top_dev span {
  font-weight: 700;
  font-size: 0.75em;
  color: #001729;
  text-transform: uppercase;
}
.footer__top_dev span small {
  color: #cea57b;
  display: block;
  font-weight: 600;
  transition: 1.65s;
}
.footer__bot {
  padding: 10px 0;
}
.footer__bot a span {
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  padding-left: 4px;
}
.footer__bot a:hover path {
  fill: #ff9c00;
}
.footer__bot a:hover span {
  border-color: #ff9c00;
}
.footer__bot_link {
  color: #001729;
}
.footer__bot_link:first-of-type {
  margin-right: 70px;
}
.footer__bot svg {
  margin-right: 12px;
  margin-top: -4px;
}
.footer__bot_phone {
  margin-left: auto;
  color: #001729;
}
.footer__bot_call {
  font-size: 0.88em;
  text-transform: uppercase;
  color: #ff9c00;
  white-space: nowrap;
  border-bottom: 1px dashed #ff9c00;
  cursor: pointer;
  font-weight: 600;
}

.s_main {
  background-color: #fff4e9;
  padding-top: 90px;
  padding-bottom: 0;
  margin-bottom: 80px;
  position: relative;
}
.s_main__txt {
  max-width: 774px;
  margin-right: -30px;
  padding-bottom: 120px;
  margin-bottom: auto;
  margin-top: auto;
}
.s_main__txt h1 {
  font-size: 3.38em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 55px;
}
.s_main__txt p {
  font-size: 1.63em;
  margin-bottom: 50px;
}
.s_main__img {
  margin-right: -288px;
  width: 600px;
  transition: opacity 2.2s;
  opacity: 0;
}
.s_main__img img {
  max-width: 100%;
}
.s_main__menu {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: -75px;
}
.s_main__menu_item {
  height: 156px;
  width: 35%;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  transition: 0.36667s;
  z-index: 0;
  position: relative;
}
.s_main__menu_item:before {
  content: '';
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 100%;
  background-color: rgba(0, 23, 41, 0.15);
}
.s_main__menu_item:hover:before {
  background-color: rgba(255, 156, 0, 0.15);
}
.s_main__menu_item._current {
  height: 185px;
  cursor: default;
}
.s_main__menu_item._current:hover:before {
  background-color: rgba(0, 23, 41, 0.15);
}
.s_main__menu_item._current .progress {
  width: 100%;
  opacity: 1;
  transition: 4s width linear;
}
.s_main__menu_item h3 {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: auto;
  margin-top: auto;
  text-align: center;
  padding-left: 33px;
  padding-right: 33px;
  position: relative;
  z-index: 2;
}
.s_main__menu_item .progress {
  opacity: 0;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background-color: #ff9c00;
}
.s_main__slider_item.active .s_main__img {
  transform: none;
  opacity: 1;
}

.s_catalog__left {
  min-width: 255px;
  max-width: 255px;
  border: 1px solid #e5e5e5;
}
.s_catalog__left:hover {
  border-color: #ff9c00;
}
.s_catalog__left_btn {
  background-color: #ff9c00;
  height: 50px;
  cursor: pointer;
  display: block;
  font-size: 1em;
  color: #fff;
  padding-left: 25px;
  padding-right: 15px;
  margin: -1px -1px 1px;
  width: calc(100% + 2px);
}
.s_catalog__left_btn:hover {
  background-color: #ffae2e;
}
.s_catalog__left_btn svg {
  margin-right: 17px;
  margin-left: 2px;
}
.s_catalog__left a {
  display: block;
  margin: 13px 20px;
  color: #001729;
  font-size: 1em;
}
.s_catalog__left a:hover + hr {
  border-color: #ff9c00 !important;
  transform: translateY(-7px);
}
.s_catalog__left a small {
  min-width: 33px;
  text-align: center;
  margin-right: 11px;
}
.s_catalog__left a small img {
  max-width: 100%;
}
.s_catalog__left a i {
  margin-left: auto;
  transform: rotate(-90deg);
  transition: 0.55s;
}
.s_catalog__left hr {
  margin: 0 20px;
  max-width: calc(100% - 40px);
  height: 1px;
  position: relative;
  z-index: -1;
  transition: transform 0.36667s;
}
.s_catalog__left hr:last-of-type {
  margin-bottom: -1px;
}
.s_catalog__left_sub {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.55s;
}
.s_catalog__left_sub a {
  margin-left: 30px;
}
.s_catalog__left_subbtn._active {
  font-weight: 700;
}
.s_catalog__left_subbtn._active i {
  transform: none;
}
.s_catalog__left_subbtn._active + hr {
  border-color: #001729;
}
.s_catalog__left_sub._active {
  max-height: 699px;
  padding-bottom: 1px;
  margin-bottom: -1px;
}
.s_catalog__left_sub._active hr:last-of-type {
  border-color: #001729;
}
.s_catalog__right {
  flex-grow: 2;
  flex-wrap: wrap;
}
.s_catalog__item {
  margin-left: 30px;
  max-width: 241.2px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.s_catalog__item:hover .s_catalog__item_txt {
  border-color: #ff9c00;
}
.s_catalog__item:hover .s_catalog__item_img {
  background-color: #ff9c00;
}
.s_catalog__item_img {
  display: block;
  background: #fff4e9;
  height: 185px;
}
.s_catalog__item_img img {
  max-width: 95%;
  max-height: 95%;
}
.s_catalog__item_txt {
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding: 23px 25px 25px;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.s_catalog__item p {
  font-weight: 600;
  font-size: 1.065em;
  margin-bottom: 10px;
}
.s_catalog__item_link {
  font-size: 1.13em;
  line-height: 1.33;
  color: #ff9c00;
  font-weight: 600;
  font-size: 0.88em;
}
.s_catalog__item_link span {
  border-bottom: 1px solid #ff9c00;
  transition: border 0.55s;
}
.s_catalog__item_link:hover {
  color: #001729;
}
.s_catalog__item_link:hover span {
  border-color: #001729;
}
.s_catalog__item_link span {
  padding-left: 5px;
  margin-left: -5px;
  border-left: 1px solid transparent;
}
.s_catalog__item_link:hover span {
  border-color: #001729;
}
.s_catalog__head {
  margin-top: -40px;
}
.s_catalog__head > :last-child {
  margin-bottom: 40px;
}
.s_catalog__pager {
  width: 100%;
  flex-wrap: wrap;
}
.s_catalog__pager a {
  width: 30px;
  height: 30px;
  border: 1px solid #e5e5e5;
  font-size: 1em;
  margin-bottom: 10px;
  font-weight: 400;
  color: #001729;
}
.s_catalog__pager a:not(:last-of-type) {
  margin-right: 10px;
}
.s_catalog__pager a:hover {
  border-color: #ff9c00;
}
.s_catalog__pager a:first-of-type:hover, .s_catalog__pager a:last-of-type:hover {
  background-color: #001729;
  border-color: #fff;
}
.s_catalog__pager a:first-of-type:hover path, .s_catalog__pager a:last-of-type:hover path {
  fill: #fff;
}
.s_catalog__pager a._current {
  background-color: #ff9c00;
  border-color: #ff9c00;
  color: #fff;
}
.s_catalog__foot {
  margin-top: 80px;
}
.s_catalog__foot .h3_hr {
  margin-bottom: 35px;
}
.s_catalog__foot_more {
  font-size: 16px;
  font-weight: 600;
  color: #ff9c00;
  text-transform: uppercase;
}
.s_catalog__foot_more span {
  border-bottom: 2px solid transparent;
}
.s_catalog__foot_more:hover {
  color: #001729;
}
.s_catalog__foot_more:hover span {
  border-color: #ff9c00;
  transition: border 0.55s;
}
.s_catalog__foot_more svg {
  margin-top: -3px;
  margin-left: 8px;
}

.s_about {
  border-bottom: 2px solid #fff4e9;
  border-top: 2px solid #fff4e9;
  position: relative;
  z-index: 0;
  transition: 1.1s;
}
.s_about:hover {
  border-color: #ff9c00;
}
.s_about:hover .s_about__bg_arr path {
  fill: #ffe5ca;
}
.s_about:before {
  content: '';
  position: absolute;
  left: 50%;
  width: 100%;
  background-color: #fff4e9;
  top: 0;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  border-left: 2px solid transparent;
}
.s_about:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: url("../images/bg/box.svg") no-repeat center left -381px;
  z-index: -1;
  width: 580px;
  pointer-events: none;
}
.s_about__left {
  max-width: calc(50% - 70px);
  width: 100%;
}
.s_about__left .h1 {
  margin-bottom: 45px;
}
.s_about__left p:not(:last-of-type) {
  margin-bottom: 30px;
}
.s_about__right {
  max-width: calc(50% - 60px);
  flex-direction: column;
}
.s_about__right_item span {
  font-size: 4.4em;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff9c00;
  white-space: nowrap;
  margin-right: 30px;
  min-width: 185px;
}
.s_about__right_item h4 {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
}
.s_about__right_item i {
  min-width: 125px;
  text-align: center;
  margin-right: -76.6px;
}
.s_about__bg_arr {
  position: absolute;
  right: -107px;
  top: 0;
  height: 100%;
  z-index: -1;
}
.s_about__bg_arr path {
  transition: 1.1s;
}
.s_about__bg_arr svg {
  max-height: 100%;
}

.s_why .h1 {
  margin-bottom: 50px;
}
.s_why__blocks_item {
  max-width: 255px;
  width: 100%;
  text-align: center;
  padding: 40px 25px;
  border: 1px solid #e5e5e5;
}
.s_why__blocks_item:not(:last-of-type) {
  margin-right: 30px;
}
.s_why__blocks_item:hover {
  border-color: #001729;
}
.s_why__blocks_item:hover h4 {
  color: #ff9c00;
}
.s_why__blocks_item i {
  min-height: 120px;
  margin-bottom: 30px;
}
.s_why__blocks_item h4 {
  font-size: 1.13em;
  font-weight: 700;
  text-transform: uppercase;
}

/* ==========================================================
   _inner
   ========================================================== */
.s_head {
  background-color: #fff4e9;
  padding: 50px 0;
}
.s_head__body {
  flex-wrap: wrap;
}
.s_head .h1 {
  margin-right: 30px;
}
.s_head__breadcrumbs a, .s_head__breadcrumbs span {
  font-size: 16px;
  color: #001729;
  margin-left: 5px;
}
.s_head__breadcrumbs a {
  border-bottom: 1px solid #fff;
  margin-right: 5px;
}
.s_head__breadcrumbs a:first-of-type {
  margin-left: 0;
}
.s_head__breadcrumbs a:hover {
  border-color: #ff9c00;
}
.s_head._with_bg {
  padding-top: 200px;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
}
.s_head._with_bg .h1 {
  color: #fff;
}
.s_head._with_bg .s_head__breadcrumbs {
  color: #fff;
}
.s_head._with_bg .s_head__breadcrumbs a, .s_head._with_bg .s_head__breadcrumbs span {
  color: #fff;
  border-color: transparent;
}
.s_head._with_bg .s_head__breadcrumbs a:hover {
  border-color: #ff9c00;
}
.s_head._with_bg:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #001729;
  left: 0;
  top: 0;
  opacity: .8;
  z-index: -1;
}

.s_contacts__map {
  height: 350px;
}
.s_contacts__body {
  margin-bottom: 40px;
}
.s_contacts__left {
  max-width: 430px;
  width: 100%;
}
.s_contacts__left_wrap {
  flex-wrap: wrap;
}
.s_contacts__left_col:not(:last-of-type) {
  margin-right: 60px;
}
.s_contacts__left h4 {
  color: #ff9c00;
  margin-bottom: 10px;
}
.s_contacts__left h4 + p {
  font-weight: 600;
  margin-bottom: 30px;
}
.s_contacts__left_item i {
  min-width: 33px;
}
.s_contacts__left_item > div {
  flex-grow: 2;
}
.s_contacts__left_item h5 {
  color: #ff9c00;
  font-size: 1em;
  font-weight: 700;
}
.s_contacts__left_item a, .s_contacts__left_item p {
  font-size: 1.13em;
  font-weight: 400;
  color: #001729;
  display: block;
  margin-bottom: 15px;
}
.s_contacts__left_item a b, .s_contacts__left_item p b {
  font-weight: 600;
}
.s_contacts__right {
  flex-grow: 2;
  margin-left: 40px;
}
.s_contacts__form {
  padding-top: 40px;
  flex-wrap: wrap;
}
.s_contacts__form .h1 {
  margin-bottom: 40px;
  width: 100%;
}
.s_contacts__form .input {
  width: calc(33% - 15px);
}
.s_contacts__form .textarea {
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 150px;
}

.s_blog,
.s_portfolio {
  padding-top: 40px;
}
.s_blog__head,
.s_portfolio__head {
  margin-bottom: 40px;
}
.s_blog__col,
.s_portfolio__col {
  width: calc(50% - 15px);
}
.s_blog__col > a,
.s_portfolio__col > a {
  display: block;
  margin-bottom: 30px;
  position: relative;
}
.s_blog__col > a:before,
.s_portfolio__col > a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: #fff4e9;
  opacity: 0;
}
.s_blog__col > a:hover:before,
.s_portfolio__col > a:hover:before {
  opacity: 0.6;
}
.s_blog__col img,
.s_portfolio__col img {
  max-width: 100%;
  width: 100%;
}
.s_blog__more,
.s_portfolio__more {
  width: 100%;
  height: 60px;
  background-color: #fff4e9;
  position: relative;
  z-index: 0;
  overflow: hidden;
  border: 2px solid transparent;
}
.s_blog__more:before,
.s_portfolio__more:before {
  content: '';
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: #ffce9d;
  z-index: -1;
  top: -73px;
  transform: rotate(45deg);
  transition: 0.275s;
}
.s_blog__more:hover,
.s_portfolio__more:hover {
  border-color: #ffce9d;
  background-color: #fff9f3;
}
.s_blog__more:hover:before,
.s_portfolio__more:hover:before {
  top: -45px;
}
.s_blog__more:hover span,
.s_portfolio__more:hover span {
  transform: translateY(10px);
}
.s_blog__more span,
.s_portfolio__more span {
  font-size: 1em;
  font-weight: 600;
  color: #001729;
  text-transform: uppercase;
  transition: 0.36667s;
}

.s_blog__body {
  flex-wrap: wrap;
  align-items: stretch !important;
}
.s_blog__item {
  border: 1px solid #e5e5e5;
  width: calc(50% - 15px);
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  background-color: #000;
  color: #fff;
}
.s_blog__item:hover .s_blog__item_img {
  opacity: .15;
  transform: scale(1.02);
}
.s_blog__item_img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.2s all;
  opacity: .25;
}
.s_blog__item_img:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #ff9c00;
  opacity: 0;
}
.s_blog__item_txt {
  padding: 30px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.s_blog__item h2 {
  font-size: 1.25em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.s_blog__item p {
  margin-bottom: 20px;
}
.s_blog__item a {
  font-size: 1em;
  color: #001729;
  padding: 16px 60px;
  color: #fff;
  margin-top: auto;
  display: inline-block;
  border: 2px solid #ff9c00;
  text-transform: uppercase;
}
.s_blog__item a:hover {
  background-color: #ff9c00;
  color: #fff;
}

.s_services__text {
  flex-grow: 2;
  margin-left: 100px;
}

.s_item {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fff4e9;
}
.s_item__left {
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 440px;
  position: relative;
  z-index: 0;
  margin-right: 55px;
  padding-right: 55px;
}
.s_item__left:before {
  width: 5000%;
  right: 0;
  height: 100%;
  background-color: #fde9d5;
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
}
.s_item__slider_item {
  width: 380px;
  height: 380px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
}
.s_item__slider_item img {
  max-width: 95%;
}
.s_item__right {
  padding-top: 70px;
  padding-bottom: 65px;
}
.s_item__right h1 {
  font-size: 27px;
}
.s_item__right .btn {
  display: inline-block;
}
.s_item__right ul li {
  margin-left: 17px;
}
.s_item__right ul li b {
  color: #001729;
}
.s_item_txt__head {
  margin-bottom: 35px;
  border-bottom: 1px solid #e5e5e5;
}
.s_item_txt__head .h3 {
  margin-bottom: -1px;
}

.s_404 {
  border-top: 1px solid #e5e5e5;
  text-align: center;
}
.s_404:hover path {
  fill: #ffce9d;
}
.s_404:hover text {
  fill: #001729;
}
.s_404 text {
  transition: 1.65s;
}
.s_404 svg {
  margin-bottom: 40px;
  max-width: 100%;
}
.s_404 h2 {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}

.s_article__txt {
  margin-bottom: 47px;
}

/* ==========================================================
   _placeholder
   ========================================================== */
body .textarea:focus::-webkit-input-placeholder,
body .input:focus::-webkit-input-placeholder, html .textarea:focus::-webkit-input-placeholder,
html .input:focus::-webkit-input-placeholder {
  opacity: 0;
}
body .textarea:focus::-moz-input-placeholder,
body .input:focus::-moz-placeholder, html .textarea:focus::-moz-input-placeholder,
html .input:focus::-moz-placeholder {
  opacity: 0;
}
body .textarea:focus:-moz-input-placeholder,
body .input:focus:-moz-placeholder, html .textarea:focus:-moz-input-placeholder,
html .input:focus:-moz-placeholder {
  opacity: 0;
}
body .textarea:focus::-ms-input-placeholder,
body .input:focus:-ms-input-placeholder, html .textarea:focus::-ms-input-placeholder,
html .input:focus:-ms-input-placeholder {
  opacity: 0;
}
body .textarea::-webkit-input-placeholder,
body .input::-webkit-input-placeholder, html .textarea::-webkit-input-placeholder,
html .input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.825s ease;
  color: #001729;
}
body .textarea::-moz-input-placeholder,
body .input::-moz-placeholder, html .textarea::-moz-input-placeholder,
html .input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.825s ease;
  color: #001729;
}
body .textarea:-moz-input-placeholder,
body .input:-moz-placeholder, html .textarea:-moz-input-placeholder,
html .input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.825s ease;
  color: #001729;
}
body .textarea:-ms-input-placeholder,
body .input:-ms-input-placeholder, html .textarea:-ms-input-placeholder,
html .input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.825s ease;
  color: #001729;
}

.overlay {
  bottom: 0;
  cursor: default;
  left: 0;
  opacity: 0.7;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 77777;
  opacity: 0;
  transition: 0.825s;
  pointer-events: none;
  background-color: #fff4e9;
}
.overlay.visible {
  opacity: .97 !important;
}

.popup {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  z-index: 99999;
  left: 50%;
  -webkit-font-smoothing: antialiased;
  top: 0;
  background-color: #ffffff;
  padding: 55px 45px 45px;
  width: 100%;
  max-width: 860px;
  margin-top: 13vh;
  margin-left: -430px;
}
.popup > * {
  opacity: 0;
  transition: 0.935s;
}
.popup .close_pop {
  font-size: 50px;
  color: #e5e5e5;
  line-height: .7;
  text-align: center;
  cursor: pointer;
  font-weight: 100;
  font-family: fix;
  margin-top: -3px;
  border: 1px solid #fff;
}
.popup .close_pop:hover {
  color: red;
}
.popup hr {
  margin: 18px 0 30px;
}
.popup__form {
  flex-wrap: wrap;
}
.popup__form .input {
  width: calc(50% - 15px);
}
.popup__form .NFI-wrapper {
  width: calc(50% - 15px);
}
.popup__form_txt {
  width: 100%;
}
.popup__form_txt .btn {
  margin-right: 35px;
}
.popup__form_txt h4 {
  font-size: 1em;
  text-transform: uppercase;
  color: #001729;
}
.popup__form_txt h4:first-of-type {
  margin-bottom: 13px;
}
.popup__form_txt h4 b {
  font-weight: 700;
  white-space: nowrap;
}
.popup__form_txt h4 b a {
  color: #001729;
}
.popup .input {
  margin-bottom: 30px;
}
.popup .textarea {
  min-height: 120px;
  margin-bottom: 30px;
}
.popup._thnx {
  margin-top: 5vh;
  border: 2px solid #e5e5e5;
  padding-top: 30px;
  padding-bottom: 25px;
  opacity: 1;
  transition: transform 1.1s !important;
  transform: translateY(-550px);
}
.popup._thnx.visible {
  transform: none;
}
.popup._thnx .h2 {
  margin-bottom: 0;
}
.popup.visible > * {
  opacity: 1;
}

.visible {
  opacity: 1 !important;
  visibility: visible !important;
  pointer-events: all;
}

.NFI-wrapper {
  display: flex !important;
  overflow: visible !important;
  margin-left: 1px;
  position: relative;
  margin-bottom: 30px;
}
.NFI-wrapper .NFI-filename {
  border: none;
  font-size: 0.75em;
  text-transform: uppercase;
  margin-left: 15px;
  font-weight: 400;
  color: #000;
  padding-left: 29px !important;
  border: 1px solid #e5e5e5;
  position: absolute;
  z-index: 5;
  background-color: #fff;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.NFI-wrapper .NFI-filename._active {
  visibility: visible;
}
.NFI-wrapper_label {
  font-size: 0.75em;
  text-transform: uppercase;
  flex-direction: column;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff9c00;
  background-color: #fff;
  padding: 7px;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}
.NFI-wrapper_label small {
  text-transform: none;
  font-weight: 600;
  color: #001729;
}
.NFI-wrapper:hover .NFI-wrapper_label {
  border-color: #ff9c00;
}

#close-input {
  position: absolute;
  right: 20px;
  top: 17px;
  height: 20px;
  width: 30px;
  z-index: 7;
  cursor: pointer;
  transition: opacity 0.55s;
  visibility: hidden;
  opacity: 0;
}
#close-input svg {
  width: 31px;
  height: 34px;
}
#close-input:hover path {
  fill: red;
}
#close-input.big {
  visibility: visible;
  opacity: 1;
  width: 15px;
  height: 32px;
  right: 13px;
  top: 8px;
}
#close-input.big svg {
  width: 32px;
  height: 43px;
}

.NFI-button {
  background-color: transparent;
  margin-top: 0;
  position: relative;
  z-index: 5;
  flex-grow: 2;
  line-height: 50px;
  background-color: #ff9c00;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  transition: background 0.55s;
  height: 50px;
}
.NFI-button:before {
  content: '';
  position: absolute;
  background-image: url("../images/ico/upload.svg");
  width: 17px;
  height: 22px;
  top: 14px;
  left: 22px;
  transition: 0.275s;
}
.NFI-button span {
  display: inline-block;
  transition: 0.275s;
  margin-left: 16px;
}
.NFI-button:after {
  content: '';
  height: 70px;
  width: 70px;
  transform: rotate(45deg);
  background-color: #ea930b;
  position: absolute;
  left: 0;
  margin-left: -84px;
  margin-top: -35px;
  top: 50%;
  z-index: -1;
  transition: 0.55s;
}
.NFI-button:hover {
  background-color: #ffae2e;
}
.NFI-button:hover:before {
  left: 14px;
}
.NFI-button:hover:after {
  margin-left: -30px;
}
.NFI-button:hover span {
  transform: translateX(15px);
}

.NFI-button.hide-for-pre:before {
  opacity: 0;
  visibility: hidden;
}
.NFI-button.hide-for-pre:after {
  opacity: 1;
  visibility: visible;
}

::-webkit-file-upload-button {
  cursor: pointer !important;
}

/* ==========================================================
   _responsive
   ========================================================== */
@media only screen and (min-width: 1125px) {
  .header__bot_btnmenu {
    display: none !important;
  }
}
@media only screen and (max-width: 1124.5px) {
  .header__bot nav {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 5;
    background-color: #fff;
    padding: 12px 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e5e5e5;
    opacity: 0;
    transition: opacity 0.55s;
    pointer-events: none;
    border-bottom: 1px solid #ff9c00;
    box-shadow: 0 3px 15px -2px rgba(0, 23, 41, 0.1);
  }
  .header__bot nav._active {
    opacity: 1;
    pointer-events: all;
  }
  .header__bot nav._active a {
    transform: none;
  }
  .header__bot nav a {
    transition: transform 0.55s;
    transform: translateX(-10px);
  }
  .header__bot_btnmenu {
    margin-left: auto;
    margin-right: 0;
  }
  .header__bot_btnmenu._active .header__bot_btnmenuactive {
    opacity: 1;
  }

  .s_main {
    font-size: .9em;
  }
  .s_main__txt {
    padding-bottom: 130px;
  }

  .s_catalog__item {
    width: 100%;
    max-width: calc(50% - 30px);
  }

  .s_about:after {
    display: none;
  }
  .s_about__right_item {
    flex-wrap: wrap;
  }

  .s_services__text {
    margin-left: 30px;
  }

  .s_item__body {
    flex-wrap: wrap;
  }
  .s_item__left {
    order: 2;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 100%;
    padding-right: 0;
  }
  .s_item__left:before {
    right: -50px;
  }
}
@media only screen and (max-width: 900.5px) {
  .header__top {
    font-size: .95em;
  }
  .header__top_wrap {
    flex-wrap: wrap;
  }
  .header__top_phone {
    margin-left: 40px;
  }
  .header__top_call {
    margin-left: auto;
    margin-top: 3px;
  }
  .header__top svg {
    margin-right: 3px;
  }
  .header__top_link:first-of-type {
    margin-right: 30px;
  }
  .header__menu_links {
    flex-wrap: wrap;
  }
  .header__menu_links > div:not(:last-of-type) {
    margin-bottom: 13px;
  }
  .header__pop {
    font-size: .9em;
  }
  .header__pop_close {
    margin-right: 20px;
  }
  .header__pop .btn_small {
    padding-left: 25px;
    padding-right: 25px;
  }

  .s_main {
    margin-bottom: 10px;
  }
  .s_main__menu {
    margin-bottom: -44px;
  }
  .s_main__menu_item {
    height: 90px;
  }
  .s_main__menu_item._current {
    height: 120px;
  }
  .s_main__menu_item h3 {
    font-size: 1.2em;
  }

  .s_catalog__body {
    flex-wrap: wrap;
  }
  .s_catalog__left {
    max-width: 100%;
    width: 100%;
    margin-bottom: 30px;
  }
  .s_catalog__right {
    justify-content: space-between !important;
  }
  .s_catalog__item {
    margin-left: 0;
    max-width: calc(50% - 15px);
  }

  .s_about__bg_arr {
    display: none;
  }

  .s_why__blocks {
    flex-wrap: wrap;
  }
  .s_why__blocks_item {
    max-width: calc(50% - 15px);
    margin-bottom: 30px;
  }
  .s_why__blocks_item:nth-of-type(2n) {
    margin-right: 0;
  }

  .footer__top_body {
    flex-wrap: wrap;
  }
  .footer__top_col:hover {
    border-color: #fff;
  }
  .footer__top_col:nth-of-type(2) {
    order: 2;
  }
  .footer__top_col2x:hover {
    border-color: #fff;
  }
  .footer__top_col._small {
    max-width: 100%;
    border-top: 2px solid  #fff;
  }
  .footer__top_col._small a {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
  }

  .popup {
    width: 100%;
    left: 0;
    margin-left: 0;
    padding: 40px 20px;
    font-size: .94em;
  }

  .s_contacts__body {
    flex-wrap: wrap;
  }
  .s_contacts__left {
    max-width: 100%;
    width: 100%;
  }
  .s_contacts__right {
    margin-top: 30px;
    width: 100%;
    margin-left: 0;
  }

  .s_blog__item {
    width: 100%;
  }

  .s_services__text {
    margin-left: 0;
    margin-top: 35px;
  }
  .s_services__text iframe {
    height: 50vw;
  }

  .text__cols50 {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .text__cols50_col {
    max-width: 100%;
  }
  .text__cols50_col._text {
    order: 3;
    margin-top: 6px;
  }
}
@media only screen and (max-width: 770.5px) {
  html, body {
    font-size: 15px;
  }

  .header__top_wrap > a {
    width: 40%;
  }
  .header__top_link:first-of-type {
    margin-right: 30px;
  }
  .header__top_phone {
    margin-right: 0;
    margin-left: 0;
    margin-top: 11px;
  }
  .header__top_call {
    margin-top: 11px;
  }
  .header__top a:nth-of-type(2) {
    text-align: right;
  }
  .header__top a:nth-of-type(2) svg {
    margin-left: auto;
  }
  .header__pop {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .header__pop .input {
    max-width: calc(50% - 15px);
    width: 100%;
    margin-right: 0;
  }
  .header__pop .btn_small {
    margin-top: 30px;
  }
  .header__pop_close {
    order: 2;
    position: relative;
    margin-top: 23px;
    margin-bottom: -2px;
  }
  .header__pop_close:hover:before {
    color: red;
  }
  .header__pop_close:before {
    content: 'Закрыть';
    font-size: 1.3rem;
    font-family: ProximaNova;
    position: absolute;
    right: 100%;
    margin-right: 10px;
    top: 9px;
  }
  .header__pop_wrap {
    flex-wrap: wrap;
  }

  .s_main__img {
    display: none;
  }
  .s_main__menu {
    position: static;
    left: auto;
    text-align: left;
    margin-top: 0;
    padding-bottom: 30px;
  }
  .s_main__menu_wrap {
    flex-wrap: wrap;
  }
  .s_main__menu_item {
    width: 100%;
    border: 1px solid #fff;
    margin-bottom: -1px;
  }
  .s_main__txt {
    max-width: 100%;
  }

  .s_about:before {
    left: 0;
  }
  .s_about__body {
    flex-wrap: wrap;
  }
  .s_about__left {
    max-width: 100%;
  }
  .s_about__right {
    max-width: 100%;
  }
  .s_about__right_item {
    flex-wrap: nowrap;
    margin-top: 25px;
  }

  .footer__top_col {
    border-right-color: transparent;
  }
  .footer__top_col:first-of-type {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    border-color: transparent;
    padding-bottom: 15px;
    padding-top: 20px;
  }
  .footer__top_col h6 {
    margin-bottom: auto;
    margin-top: auto;
  }
  .footer__top_col2x {
    border-top: 2px solid  #fff;
    flex-wrap: wrap;
    border-right-color: transparent;
    justify-content: space-between !important;
  }
  .footer__top_col._small {
    width: 100%;
  }
  .footer__top_col._small .footer__top_linkswrap {
    justify-content: space-between;
    display: flex;
    width: 100%;
  }
  .footer__top_col._small a {
    margin-left: 0;
    margin-right: 0;
  }
  .footer__top_links {
    padding-left: 0;
    font-size: 1.2em;
  }
  .footer__top_linkswrap {
    width: 100%;
  }
  .footer__bot {
    font-size: .91em;
  }
  .footer__bot_wrap {
    flex-wrap: wrap;
  }
  .footer__bot_wrap a:nth-of-type(2) {
    margin-left: auto;
    margin-right: auto;
  }
  .footer__bot_wrap a:first-of-type {
    margin-right: 30px;
  }
  .footer__bot_wrap a svg {
    margin-right: 2px;
  }

  .popup {
    margin-top: 0;
  }
  .popup__form .input, .popup__form .NFI-wrapper {
    width: 100%;
  }
  .popup__form_txt {
    flex-wrap: wrap;
  }
  .popup__form_txt > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .popup__form_txt h4 {
    display: inline-block;
  }
  .popup__form_txt h4:first-of-type {
    margin-right: 30px;
  }
  .popup__form_txt .btn {
    margin-bottom: 30px;
    margin-right: 0;
    width: 100%;
  }

  .h1small_fix {
    font-size: 7vw;
    display: block;
  }

  .s_contacts__form .input {
    width: 100%;
  }
  .s_contacts__form .input:not(:last-of-type) {
    margin-bottom: 30px;
  }

  .text {
    max-width: 100%;
  }
  .text__table_wrp {
    max-width: 100%;
    overflow: auto;
  }
  .text__table_wrp table {
    min-width: 750px;
  }
}
@media only screen and (max-width: 650.5px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .header__top {
    padding: 15px 0;
  }
  .header__top_phone {
    margin-right: 58px;
  }
  .header__bot_wrap {
    flex-wrap: wrap;
  }
  .header__bot_logo {
    width: 100%;
    margin-right: 0;
    text-align: center;
    margin-bottom: 16px;
  }
  .header__bot_btnmenu, .header__bot_btn {
    margin-right: 0;
    margin-left: 0;
  }
  .header__bot_btn {
    flex-grow: 2;
    margin-right: 15px;
  }
  .header__bot_btn span {
    margin-right: auto;
  }
  .header__bot nav {
    flex-wrap: wrap;
  }
  .header__bot nav a {
    width: 100%;
    text-align: right;
    font-size: 1.4em;
  }
  .header__bot nav a:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .header__pop {
    min-height: 100%;
  }
  .header__menu {
    font-size: .9em;
  }
  .header__menu hr {
    margin-bottom: 0;
    margin-top: 0;
  }
  .header__menu_col:not(:last-of-type) {
    padding-right: 15px;
    margin-right: 15px;
  }
  .header__menu_links a:not(:last-of-type), .header__menu_links > div:not(:last-of-type) {
    margin-bottom: 10px;
  }

  .s_main__txt h1 {
    font-size: 3em;
  }

  .popup {
    padding-top: 3.5em;
  }
  .popup .close_pop {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2.0em;
  }
}
@media only screen and (max-width: 570.5px) {
  .header__top_link {
    display: flex;
    align-items: center;
    max-width: 100%;
  }
  .header__top_link svg {
    min-width: 15px;
  }
  .header__top_wrap > a {
    width: auto;
  }
  .header__top_call {
    font-size: 1.3em;
  }
  .header__menu {
    padding: 45px 0;
  }
  .header__menu_row {
    flex-wrap: wrap;
    padding-bottom: 0;
    padding-top: 0;
  }
  .header__menu_col {
    width: 100%;
    border: none !important;
  }
  .header__menu hr {
    display: none;
  }
  .header__menu h4 {
    font-size: 1.2em;
  }
  .header__menu_links {
    margin-bottom: 35px;
  }
  .header__menu_links a {
    font-size: 1.3em;
  }
  .header__pop_wrap .input {
    max-width: 100%;
    margin-top: 15px;
  }
  .header__pop_close {
    margin-right: 0;
    margin-top: 33px;
  }
  .header__bot_logo {
    margin-left: 0;
  }

  .s_catalog__item {
    max-width: 100%;
  }

  .s_about__right_item {
    flex-wrap: wrap;
  }

  .s_why__blocks_item {
    max-width: 100%;
  }
  .s_why__blocks_item:nth-of-type(2n+1) {
    margin-right: 0;
  }

  .footer {
    text-align: center;
  }
  .footer__top_logo {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .footer__top_dev {
    width: 100%;
    justify-content: center !important;
    text-align: left;
  }
  .footer__top_col {
    flex-wrap: wrap;
    padding-right: 0;
  }
  .footer__top_col h6 {
    width: 100%;
    margin-bottom: 15px;
  }
  .footer__top_col2x {
    padding-right: 0;
  }
  .footer__top_col._small .footer__top_linkswrap {
    flex-wrap: wrap;
  }
  .footer__top_col._small a {
    width: 100%;
    margin-bottom: 9px;
    margin-top: 9px;
  }
  .footer__top_links {
    font-size: 1.4em;
  }
  .footer__top_linkswrap {
    flex-wrap: wrap;
    justify-content: center !important;
  }
  .footer__top_linkswrap > div {
    max-width: 100%;
    width: 100%;
  }
  .footer__bot_wrap {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
  }
  .footer__bot_wrap a {
    width: 100%;
    font-size: 1.3em;
  }
  .footer__bot_wrap a:not(:last-of-type) {
    margin-bottom: 10px;
  }

  .s_contacts__form .btn {
    width: 100%;
  }

  .s_blog__item {
    width: calc(100% + 50px);
    margin-left: -50px;
  }

  .s_portfolio__col {
    max-width: calc(50% - 8px);
    width: 100%;
  }
  .s_portfolio__col a {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 430.5px) {
  body, html {
    font-size: 13.5px;
  }

  .btn {
    padding-right: 15px;
    padding-left: 15px;
  }

  .header__top a {
    width: 100%;
  }
  .header__top a:nth-of-type(2) {
    margin-top: 13px;
  }
  .header__top a:nth-of-type(2) svg {
    margin-left: 0;
  }
  .header__bot_btn, .header__bot_btnmenu {
    width: 100%;
    margin-right: 0;
  }
  .header__bot_btnmenu {
    justify-content: flex-start !important;
    margin-top: 15px;
  }

  .s_main {
    padding-top: 50px;
  }
  .s_main__txt {
    padding-bottom: 50px;
  }
  .s_main__txt h1 {
    font-size: 2.7em;
    margin-bottom: 15px;
  }
  .s_main__txt .btn {
    width: 100%;
  }

  .s_catalog__pager {
    justify-content: flex-start !important;
  }
  .s_catalog__pager a {
    width: 50px;
    height: 50px;
    font-size: 1.6em;
  }

  .s_about .h1 {
    margin-bottom: 20px;
  }
  .s_about__right {
    font-size: .8em;
  }
  .s_about__right i {
    display: none;
  }

  .s_contacts__form .btn {
    height: auto;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .s_blog__item {
    width: calc(100% + 50px);
    margin-left: -50px;
  }
  .s_blog__item_txt {
    padding: 20px;
  }
  .s_blog__item a {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .s_portfolio__body {
    flex-wrap: wrap;
  }
  .s_portfolio__col {
    max-width: 100%;
    width: 100%;
  }
  .s_portfolio__col a {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 360.5px) {
  .btn {
    height: auto;
    padding-top: 23px;
    text-align: center;
  }
  .btn:hover span {
    transform: none;
  }

  .h1 {
    font-size: 2em;
  }

  .header__pop .btn_small {
    width: 100%;
  }
  .header__pop_close {
    position: absolute;
    top: -5px;
    right: 20px;
  }

  .s_main__txt h1 {
    font-size: 2.5em;
  }
  .s_main__txt h1 + p {
    font-size: 1.3em;
  }

  .NFI-wrapper {
    flex-wrap: wrap;
  }
  .NFI-wrapper .NFI-button {
    width: 100%;
  }
  .NFI-wrapper_label {
    width: 100%;
    font-size: 1.1em;
    border-top-color: transparent;
    border-left: 1px solid #e5e5e5;
  }

  .text {
    font-size: .9em;
  }
  .text ul li, .text ol li {
    margin-left: 17px;
  }
}
/* ==========================================================
   _flex
   ========================================================== */
._flex_sb_fs, .footer__top_col2x .footer__top_linkswrap, .s_catalog__body, .s_about__right, .s_contacts__left_item, .s_contacts__form, .s_blog__body,
.s_portfolio__body, .popup__form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

._flex_sb_fe, .s_main__menu_wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

._flex_sb_c, .header__top_wrap, .header__bot_wrap, .header__pop_wrap, .footer__bot_wrap, .s_main__body, .s_about__right_item, .s_head__body, .s_contacts__body, .s_item_txt__head, .popup .h1, .popup .h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._flex_sb_s, .header__menu_row, .footer__top_body, .s_about__body, .s_item__body {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

._flex_sa_fs {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

._flex_sa_fe {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

._flex_sa_c, .header__bot_btnmenu, .header__bot_btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

._flex_c_fs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

._flex_c_fe {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

._flex_c_c, .header__pop, .footer__top_links, .s_main__menu_item, .s_catalog__item_img, .s_catalog__pager, .s_catalog__pager a, .s_why__blocks_item i, .s_blog__more,
.s_portfolio__more, .s_item__slider_item, .NFI-wrapper_label, #close-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

._flex_fs_c, .footer__top_dev, .s_catalog__left_btn, .s_catalog__left a, .s_item__left, .popup__form_txt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

._flex_fs_fs, .header__menu_links, .s_contacts__left_wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

._flex_fs_s, .s_catalog__right, .s_why__blocks, .s_blog__item {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

._flex_fs_fe, .header__menu_col i {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

._flex_fe_fe {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

._flex_fe_s {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

._flex_fe_fe {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

._flex_fe_fs {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

::-webkit-scrollbar {
  width: 15px;
  /* for vertical scrollbars */
  height: 15px;
  /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #fff4e9;
  border: 1px solid #ff9c00;
}
::-webkit-scrollbar-thumb:active {
  background: #ff9c00;
}

/* ==========================================================
   _print
   ========================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*# sourceMappingURL=main.css.map */
